CienteContratoDatos/Connected Services/ServicioAlumnos/Alumnos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogicaContratoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogicaContratoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumno" nillable="true" type="tns:Alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumno" nillable="true" type="tns:ArrayOfAlumno" />
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAlumno" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
</xs:schema>