CienteContratoDatos/Connected Services/ServicioAlumnos/Alumnos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51066/Alumnos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicaContratoDatos" />
  <xs:element name="GetAlumnos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogicaContratoDatos" minOccurs="0" name="GetAlumnosResult" nillable="true" type="q1:ArrayOfAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idalumno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogicaContratoDatos" minOccurs="0" name="BuscarAlumnoResult" nillable="true" type="q2:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>