CienteContratoDatos/Connected Services/ServicioAlumnos/ServicioAlumnos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioAlumnos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51066/Alumnos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51066/Alumnos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51066/Alumnos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicaContratoDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContratoAlumno_GetAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnos" />
  </wsdl:message>
  <wsdl:message name="IContratoAlumno_GetAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IContratoAlumno_BuscarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAlumno" />
  </wsdl:message>
  <wsdl:message name="IContratoAlumno_BuscarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IContratoAlumno">
    <wsdl:operation name="GetAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratoAlumno/GetAlumnos" message="tns:IContratoAlumno_GetAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContratoAlumno/GetAlumnosResponse" message="tns:IContratoAlumno_GetAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IContratoAlumno/BuscarAlumno" message="tns:IContratoAlumno_BuscarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContratoAlumno/BuscarAlumnoResponse" message="tns:IContratoAlumno_BuscarAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContratoAlumno" type="tns:IContratoAlumno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlumnos">
      <soap:operation soapAction="http://tempuri.org/IContratoAlumno/GetAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAlumno">
      <soap:operation soapAction="http://tempuri.org/IContratoAlumno/BuscarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAlumnos">
    <wsdl:port name="BasicHttpBinding_IContratoAlumno" binding="tns:BasicHttpBinding_IContratoAlumno">
      <soap:address location="http://localhost:51066/Alumnos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>